allow mm-qcamerad camera_data_file:dir r_dir_perms;
allow mm-qcamerad system_data_file:dir { read open };
allow mm-qcamerad system_file:file execmod;
